#fqrs{
    max-width: 1000px;
    min-height: 50px;
    /* background: blue; */
    border-radius: 5px;
    margin: 40px auto;
}

.faq {
    text-align:center;
}

.subapartado {
    width: 100%;
    min-height: 50px;
    background: var(--bg-black-color);
}

.title{
    width: 100%;
    min-height: 50px;
    /* background: red; */
    overflow: hidden;
    border-bottom: 1px solid var(--white-color);
}

p.titler{
    margin: 13px;
    color: var(--white-color);
}

.info{
    width: 100%;
    height: 0;
    background: var(--white-color);
    overflow: hidden;
    -webkit-transition: height .5s;
}

p.infor {
    margin: 20px;
    text-align: left;
    color: var(--blue-color);
}

.subapartado:hover .info{
    height: 80px;
}