@media (max-width: 600px) {
    
    .products {
        display: inherit;
    }

    .product {
        margin-top: auto;
    }

    .main_section{
        padding: 4%;
    }

    .advantages, .mentions {
        display: inherit;
    }

    .advantages {
        padding: 0;
    }
}